.profileCover{
    background-color: aquamarine;
    height: 150px;
  }
  .profileInfo{
    background-color: white;
  }
  
  #profileImg {
    margin-top: 75px;
    margin-left: 20px;
    border: solid white;
    border-radius: 50%;
  }