.profileCover{
    background-color: aquamarine;
    height: 200px;
  }
  .profileInfo{
    background-color: white;
  }
  
  .profileImg {
    margin-top: 100px;
    margin-left: 25px;
    border: solid white 4px;
    border-radius: 50%;
    background-color: aqua;
    height: 150px;
    width: 150px;
  }

  h4 {
    font-weight: 700;
  }