.LogoImg{
    height: 34.17px;
    width: 34.17px;
    border-radius: 5px 5px 5px 5px;
}

.Search {
    width: 280px;
}

.FontSize {
    font-size: 12px;
}

.Margin{
    margin-left: 368.20px;
    margin-right: 368.20px;
}

.BorderR {
    border-right-width: 0.5px;
    border-right-style: solid;
    border-right-color: lightgray;
    padding-right: 10px;
}

.BgWhite{
    background-color: #ffffff;
}

.BgSky{
    background-color: #EDF3F8;
}